* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #1c1c1c;
  list-style: none;
  text-decoration: none;
}
/* -----------------#------------------ */

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* -----------------#------------------ */

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

#logo img {
  height: 200px;
}
/* -----------------#------------------ */
#search {
  /* width: 85vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem 0;
  width: 100vw;
  position: absolute;
  top: 20%;
}

#search input {
  display: block;
  width: 100%;
  height: 4rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(107, 115, 120);
  background-color: #d7c8e7;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  padding: 03rem;
  position: relative;
  z-index: 2;
}

#search input:focus {
  color: #212529;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  outline: 0;
}

#search ul {
  width: 100%;
  background: #d7c8e7;
  align-items: center;
  padding-top: 1rem;
  position: relative;
  top: -1rem;
  z-index: 1;
  max-height: 80vh;
  overflow: scroll;
}

#search ul li {
  font-size: 2.5rem;
  text-align: center;
  text-transform: capitalize;
  padding: 0.5rem;
  cursor: pointer;
}

#search ul li:nth-child(odd) {
  background-color: #bda4d8;
}
/* -----------------#------------------ */

#cards {
  position: absolute;
  top: 35%;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* max-width: 90vw; */
  margin: 3rem;
}

.card img {
  object-fit: cover;
  width: 90vw;
  height: 90vw;
  border-radius: 0.5rem 5rem 0 0;
}

.card .thumbnail {
  border-radius: 0 0 0.5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c82128;
  height: 5rem;
  width: 100%;
}
.card h3 {
  font-size: 2.5rem;
}
/* -----------------#------------------ */
